.first-letter::first-letter {
    font-size: 30px;
    color: rgb(200, 114, 114);
    font-weight: bold;
    line-height: .75;
}
.first-letter {
    color: rgb(29, 25, 33);
}
.about-me {
    position: relative;
    width: 60%;
    left: 100px;
    font-size: 24px;
}

h1 {
    position: relative;
    color: rgb(200, 114, 114);
}