.links li a{
    color: rgb(200, 114, 114);
    width: 50%;
    margin-right: 50px;
    text-decoration: none;
    font-size: 24px;
}

.links li a:hover {
    cursor: pointer;
}

.links li {
    position: relative;
    display: inline;
    left: 700px;
    bottom: 80px;
}